* {
    margin: 0px;
    padding: 0px;
}

#contentDiv {
    display: flex;
    flex-direction: row;
}

#cartDiv {
    padding: 1rem;
    width: 50%;
}

#addActionsDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#actionButtonsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.button {
    background-color: transparent;
    padding: 0.33rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

#submitButton, #addButton {
    width: 50%
}

.input {
    margin-bottom: 1rem;
}

#itemTable {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-style: solid;
    border-width: 1px;
}

tr {
    border-style: solid;
    border-width: 1px;
}

th, td {
    padding: 0.5rem;
}

.deleteButton {
}

#receiptDiv {
    width: 50%;
    padding: 1rem;
}